body {
  font-family: sans-serif;
}

img {
  padding:10px;
  width: 150px;
}

p {
  font-size: 20px;
}

.sidebar {
  margin:20px;
  border:5px solid purple;
  padding: 6px;
  background-color: yellow;
  float: right;
  width: 300px;
}

.left {
  float: left;
}

.right {
  float: right;
}
